@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Zen+Kaku+Gothic+New:wght@300;400;900&display=swap");
@import "../components/setups.scss";

:root {
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-accent-1: #{$color-accent-1};
  --color-accent-2: #{$color-accent-2};
  --color-accent-3: #{$color-accent-3};
  --color-accent-4: #{$color-accent-4};

  --color-shadow: #{$color-shadow};
  --color-luminocity: #{$color-luminocity};
  --color-overlay: #{$color-overlay};

  --color-base-1: #{$color-base-1};
  --color-base-2: #{$color-base-2};
  --color-base-3: #{$color-base-3};
  --color-base-4: #{$color-base-4};
  --color-base-5: #{$color-base-5};

  --color-white: #{$color-white};
  --color-black: #{$color-black};
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--color-accent-2);
  font-size: 16px;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*[data-title="true"] {
  font-family: "Comforter Brush", cursive;
}
